:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder: #24292e;

    --previwGB: rgb(251, 249, 243, 0.8);

    --introShadow: #f0ead6;

    --buttonColor: black;
}

html, body {
    padding: 0;
    margin: 0;
}

h1 , h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1{ font-size: 46px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

.section1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.section2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--mainColor);
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


.min-max-close-wrapper{
    display: flex;
    padding: 10px;
}

.min-max-close{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%; 
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
}

#min{
    width: 15px;
    height: 15px;
    background: red;
    background-color: #FC6058;
}

#max{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FEC02F;
}

#close{
    width: 25px;
    height: 15px;
    background-color: #8dce7a;
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile-pic{
    display: block;
    margin: 0 auto;


    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#profile-pic:hover{
    border-width: 1px;
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);

    cursor: pointer;
}

.theme-dot:hover{
    border-width: 5px;
}

#light{
    background-color: #fff;
}

#blue{
    background-color: #1c3247;
}

#green{
    background-color: #78866b;
}

#purple{
    background-color: #7E4C74;
}

#note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#intro-shadow{
    background-color: var(--introShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#intro{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previwGB);
    padding: 5px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#tr{
    top: -5px;
    right: -5px;

}

#tl{
    top: -5px;
    left: -5px;
}

#br{
    bottom: -5px;
    right: -5px;
}

#bl{
    bottom: -5px;
    left: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--introShadow);
}


.social-links{
    text-align: center;
}

.row {
    display: flex;
    justify-content: justify;
}

  /* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
}

.project-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;  
    justify-content: center;
    padding-bottom: 50px;
}

.project{
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,75);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    /* object-fit: cover; */
}

.project-preview{
    background-color: #fff;
    padding: 15px;
}

.project-name{
    color: black;
    margin: 0;
}

.project-description{
    color: #4b5156;
    font-size: 16px;
}

.tech-stack{
    color: #4b5156;
    font-size: 12px;
    
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;

}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#contact-form label{
    line-height: 2.7em;
}

#contact-form textarea{
    min-width: 100px;
    font-size: 14px;
}

#submit{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;

}
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column' 
            'right-column'
        ;
    }

    .right-column{
        justify-content: center;
    }
}