:root{
    --mainColor:#606B56;
    --secondaryColor:#515a48;

    --borderColor:#161915;

    --mainText:white;
    --secondaryText:#eeeeee;

    --themeDotBorder: #fff;

    --previwGB: rgb(81, 90, 72, 0.8);

    --introShadow: #212f25;

    --buttonColor:#669966;
}


#profile-pic{
    display: block;
    margin: 0 auto;
    content:url('../images/k1.jpg');
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
