<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
        <title>Kolade Gideon</title>
    </head>
<body>
    <div class="nav-wrapper">
        <div class="min-max-close-wrapper">
            <div id="min" class="min-max-close"></div>
            <div id="max" class="min-max-close"></div>
            <div id="close" class="min-max-close"></div>
        </div>
        <ul id="navigation">
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="container">
        
        <h2>Hello project post coming</h2>
    </div>
    
</body>
</html>